.vote-page {
  display: flex;
  padding-top: 30%;
}

.options {
  display: flex;
  padding-top: 20%;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.wrapper {
  width: 350px;
  height: 250px;
  border: 6px solid #fff;
  box-shadow: 0px 0px 24px -2px #333;
  margin: 20px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  transition: all 0.35s;
  width: 100%;
  height: 100%;
}

.hovereffect:hover img {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 30px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, 
.hovereffect p {
  color: #FFF;
  padding: 1em 0;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, 
.hovereffect:hover p, 
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  margin: 0;
}

.line-1,
.line-2 {
  color: #fff;
  top: 50%;
  -webkit-transform: rotate(-3deg) translateY(-50%);
          transform: rotate(-3deg) translateY(-50%);
  position: absolute;
  overflow: hidden;
  display: inline-block;
}

.line-1 {
  color: #000;
  background: #fff326;
  text-align: center;
  padding: 10px;
  right: -20px;
  left: -20px;
  top: 80px;
}
.line-1 h1 {
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
}

.line-2 {
  background: #000;
  padding: 5px 15px;
  margin-top: 28px;
  right: -20px;
  width: 50%;
  top: 75px;
}
.line-2 h2 {
  font-size: 17px;
  font-weight: 400;
}

.tint {
  background: rgba(38, 163, 255, 0.6);
  background: linear-gradient(to bottom, rgba(135, 253, 199, 0.6) 0%, rgba(38, 163, 255, 0.6) 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}